@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(243 244 246)}


.hello {
    color: #333;
    font-size: 2em;
    text-align: center;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    gap: 20px;
}

a {
    display: block;
    color: #333;
    text-align: center;
    padding: 9px 16px;
    text-decoration: none;
    border-radius: 10px;
}

a:hover {
    background-color: #ddd;
    color: black;
}


.upper {
    height: 30px;

}

.note {
    margin: 10px;
    height: 200px;
    width: 200px;
    position: relative;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    resize: none;
    background-color: #33333300;

}

textarea:focus{
    box-sizing: border-box;
    border: none;
    resize: none;
    background-color: #ff212100;

    
}


textarea:focus-visible {
    border: none;
    resize: none;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}   

.active-link {
    background-color: #ddd;
}



button:active {
    transform: translateY(0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


  
  .notes-list  {
    display: none;
    width: 0px;
  }
  
  .notes-list.animate {
      animation: fadeIn 2s;
    display: block;

  }


  